
/.nuget/nuget.exe
/TestResults
/packages
/scalejs.mvvm.csproj.user
/scalejs.mvvm.v11.suo
/build
/obj
scalejs.mvvm/js
/scalejs.mvvm/build
/scalejs.mvvm/obj
/scalejs.mvvm.test/build
/scalejs.mvvm.test/obj
js/
*.suo
